footer {
  height: 2rem;
  padding: 0.5rem;
}

footer a.button {
  color: var(--overlay1) !important;
  fill: var(--overlay1) !important;
  stroke: var(--overlay1) !important;
}

footer > a.button:hover {
  color: var(--subtext1) !important;
  fill: var(--subtext1) !important;
  stroke: var(--subtext1) !important;
}
